.box1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.text1 {
  float: left;
  margin-left: 25px;
  margin-right: 15px;
}

.text2 {
  float: left;
}

.text3 {
  float: left;
  margin-left: 750px;
  margin-right: 15px;
}

.text4 {
  float: left;
  margin-right: 200px;
}

.image1 {
  float: left;
  width: 60px;
  margin-left: 1000px;
  margin-top: -52px;
}

.image2 {
  float: left;
  width: 70px;
  margin-left: 1080px;
  margin-top: -45px;
}

.image3 {
  margin-left: 38.5%;
  margin-top: 50px;
}

input {
  border-radius: 10px 10px 10px 10px;
  width: 420px;
  height: 23px;
  margin-left: 32%;
}

.button1 {
  float: left;
  margin-left: 39%;
  margin-top: 20px;
  height: 30px;
}

.button2 {
  float: left;
  margin-left: 1%;
  margin-top: 20px;
  height: 30px;
  
}